# Build and Release Folders
bin-debug/"character"
bin-release/"Click"
[Oo]bj/"Dialog-text"
[Bb]in/"Texr-bubble"

# Other files and folders
.settings/"IMG-0000"

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
